# Copia este archivo a .env y completa con tus credenciales de Khipu
# https://khipu.com/page/merchant

KHIPU_RECEIVER_ID=
KHIPU_SECRET=
KHIPU_NOTIFY_URL=
APP_URL=http://localhost:5173
KHIPU_API_PORT=3001
